.newTask form {
    width: 100%;
    display: flex;
    display: flex;
    align-items: center;
    height: 63px;
    box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.173);
    border-radius: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    background-color: rgba(246, 246, 246, 0.649);
    border: none;
    outline: none;
    width: 100%;
}


.newTask input {
    display: flex;
    align-items: center;
    height: 60px;
    border-radius: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    background-color: rgba(246, 246, 246, 0.649);
    border: none;
    outline: none;
    width: 100%;
}

input[name='calendar'] {
    display: flex;
    align-items: center;
    height: 60px;
    border-radius: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    background-color: rgba(246, 246, 246, 0.649);
    border: none;
    outline: none;
   padding: 0 4px;
    width: 25vh;
}



.newTask button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    border-radius: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    font-weight: 900;
    background-color: rgba(246, 246, 246, 0.649);
    border: none;
    outline: none;
    width: 5%;
}

input:hover, .newTask button:hover {
    background-color: rgba(228, 227, 227, 0.874);
}


