#search-bar {
    border: none;
    outline: none;
    border-radius: 5px;
    color: aliceblue;
    height: 20px;
    width: 450px;
    margin: auto 0 auto 0;
    align-items: center;
}


.profile {
    margin-top: 9px;
    background: none;
    border: none;
    color: #4051b5;
    font-size: xx-large;
    cursor: pointer;
    /* text-align: center; */
}

.appHeader h3 {
    color: #4051b5;
    font-size: x-large;
    font-weight: 800;
    font-family: 'Mynerve', cursive;

} 

.appHeader {
    background: #90caf9;
    height: 3rem;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

@media (width < 700px) {
    .appHeader h3 {
        font-size: large;
    }

    #search-bar {
        width: auto;
    }
}

